---
const title = 'Welcome to Astro!';
const description = 'Wondering what to do next? Check out the Astro documentation at https://docs.astro.build';
---
<header>
	<h1>
{{title}}
	</h1>
<p>
{{description}}
</p>
</header>

